name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4        # Updated to v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4      # Updated to v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build with Gradle
        run: chmod +x gradlew && ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4 # Updated to v4 (Fixes your error)
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/app-debug.apk

